Repository VinhKyiT/demo_k12_app: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write src/**/**/**/*.js, eslint src --fix

.lintstagedrc:

{
  "*.{js,json}": ["prettier --write  src/**/**/**/*.js", "git add"],
  "*.js": ["eslint src --fix"]
}

test
  .husky/pre-commit
  .lintstagedrc
  package.json
  yarn.lock
Due: prettier --write src/**/**/**/*.js

buoi_54 test husky
  App.js
Due: prettier --write src/**/**/**/*.js, eslint src --fix

buoi_54 test husky_2
  src/screens/AuthScreen/index.js
Due: prettier --write src/**/**/**/*.js, eslint src --fix

commit tren nhanh buoi 54
  .husky/pre-commit
Due: none

prepare/buoi_53
  android/Gemfile
  android/Gemfile.lock
  android/fastlane/Appfile
  android/fastlane/Fastfile
  android/fastlane/Pluginfile
  android/fastlane/README.md
Due: none
